body {
  margin: 15px 15px;
}

.profileItem {
  margin: 0 15px;;
}

.userForm {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 50%;
  display: block;
  border-style: none;
}

#zip {
  margin: 15px;
}

.profileLabel {
  font-size: 22px;
}

.formSubmit {
  margin: 15px;
}