body {
  margin: 15px 15px;
}

.profileItem {
  margin: 0 15px;
}

#zip {
  margin: 15px;
}

.profileLabel {
  font-size: 22px;
}

.formSubmit {
  margin: 0 15px;
}

#cardGroup {
  margin: 0 auto;
}

.navDiv {
  margin-bottom: 15px;
}

#profileImage {
  height: 200px;
  width: auto;
}

.chat {
  margin: 0 auto;
}

.scrollable {
  overflow: scroll;
}

#returnToMatchesButton {
  margin-bottom: 10px;
}

@media screen and (min-width: 200px) {
  #cardGroup {
    width: 75%;
  }

  .userForm {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 85%;
    display: block;
    border-style: none;
  }

  .chat {
    width: 95%;
  }
}

@media screen and (min-width: 750px) {
  #cardGroup {
    width: 450px;
  }

  .chat {
    width: 75%;
  }
}

@media screen and (min-width: 1000px) {
  #cardGroup {
    width: 900px;
  }

  .userForm {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 75%;
    display: block;
    border-style: none;
  }

  .chat {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .navDiv {
    margin: 15px 100px;
  }

  .userForm {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 50%;
    display: block;
    border-style: none;
  }
}

@media screen and (min-height: 350px) {
  .scrollable {
    height: 300px;
  }
}

@media screen and (min-height: 650px) {
  .scrollable {
    height: 350px;
  }
}

@media screen and (min-height: 700px) {
  .scrollable {
    height: 400px;
  }
}

@media screen and (min-height: 800px) {
  .scrollable {
    height: 490px;
  }
}

@media screen and (min-height: 900px) {
  .scrollable {
    height: 650px;
  }
}