body {
  margin: 15px 15px;
}

.profileItem {
  margin: 0 15px;
}

.userForm {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 50%;
  display: block;
  border-style: none;
}

#zip {
  margin: 15px;
}

.profileLabel {
  font-size: 22px;
}

.formSubmit {
  margin: 0 15px;
}

#cardGroup {
  margin: 0 auto;
}

.navDiv {
  margin-bottom: 15px;
}

#profileImage {
  height: 200px;
  width: auto;
}

@media screen and (min-width: 500px) {
  #cardGroup {
    width: 500px;
  }
}

@media screen and (min-width: 1000px) {
  #cardGroup {
    width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  .navDiv {
    margin: 15px 100px;
  }
}
